* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
}

body .femto-app .femto-header {
  position: relative;
  background-color: white;
  padding: 2rem 0;
}

@media (max-width: 768px) {
  body .femto-app .femto-header {
    padding: 2rem;
  }
}

body .femto-app .femto-header .femto-container .femto-logo {
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  body .femto-app .femto-header .femto-container .femto-logo {
    width: 100%;
  }
}

body .femto-app .femto-section {
  display: block;
  margin: 5rem auto 0;
  width: 75%;
}

body .femto-app .femto-section .femto-container {
  position: relative;
}

body .femto-app .femto-section .femto-container .femto-canvas {
  display: block;
  background-color: #2d2d2d;
  height: 512px;
  width: 512px;
  margin: 0 auto;
}
