* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Made Tommy', sans-serif;
  src: url("../fonts/font.otf");
}

body {
  background-color: #f0f0f0;
}

body .femto-app .femto-header {
  position: relative;
  background-color: white;
  padding: 2rem 0;
}

@media (max-width: 768px) {
  body .femto-app .femto-header {
    padding: 2rem;
  }
}

body .femto-app .femto-header .femto-container .femto-logo {
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  body .femto-app .femto-header .femto-container .femto-logo {
    width: 100%;
  }
}

body .femto-app .femto-section {
  display: block;
  margin: 2rem auto 0;
  width: 75%;
}

body .femto-app .femto-section .femto-container {
  position: relative;
}

body .femto-app .femto-section .femto-container .femto-form {
  margin: 1rem 0;
}

body .femto-app .femto-section .femto-container .femto-form .femto-input {
  position: relative;
  display: block;
  margin: 0 auto;
  border: none;
  border-bottom: solid #aaaaaa 1px;
  background-color: transparent;
  outline: none;
  font-family: sans-serif;
  padding: 0.2rem 0.1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body .femto-app .femto-section .femto-container .femto-form .femto-input:valid {
  border-bottom: solid #2d2d2d 1px;
}

body .femto-app .femto-section .femto-container .femto-form .femto-input:valid ~ .femto-placeholder {
  top: -40px;
  opacity: 1;
}

body .femto-app .femto-section .femto-container .femto-form .femto-input:focus {
  border-bottom: solid #2d2d2d 1px;
}

body .femto-app .femto-section .femto-container .femto-form .femto-input:focus ~ .femto-placeholder {
  top: -40px;
  opacity: 1;
}

body .femto-app .femto-section .femto-container .femto-form .femto-placeholder {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: -18px;
  left: -3rem;
  text-align: center;
  display: block;
  margin: 0 auto;
  z-index: -1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0.5;
  font-family: sans-serif;
}

body .femto-app .femto-section .femto-container .femto-generator {
  display: block;
  background-color: #2d2d2d;
  height: 512px;
  width: 512px;
  margin: 0 auto;
  position: relative;
}

body .femto-app .femto-section .femto-container .femto-generator .femto-name {
  font-family: 'Made Tommy', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 6rem;
  text-transform: uppercase;
}

body .femto-app .femto-section .femto-container .femto-download {
  margin: 0.75rem 0 0;
  position: relative;
}

body .femto-app .femto-section .femto-container .femto-download .femto-link {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: sans-serif;
  border: solid #2d2d2d 1px;
  color: #2d2d2d;
  padding: 0.5rem 2rem;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

body .femto-app .femto-section .femto-container .femto-download .femto-link:hover {
  background-color: #2d2d2d;
  color: white;
}
